.modalBackground {
    background-color: rgba(100, 100, 100, 0.8);
    bottom: 0;
    display: grid;
    left: 0;
    position: absolute;
    place-content: center;
    top: 0;
    right: 0;
}

.closeModal {
    position: absolute;
    right: 5px;
    top: 5px;
}