.formContainer {
    background-color: #fff;
    height: calc(94vh - 81px);
    margin: 1vh 1vw;
    // padding: 10px 20px;
    overflow: hidden;

    h3 {
        background-color: rgb(200, 200, 200);
        padding: 10px;
    }
}

.editProductForm {
    align-items: center;
    display: flex;
    flex-direction: column;

    input, textarea, select {
        font-size: 16px;
        margin: 2px 0;
        padding: 12px 20px;
        resize: vertical;
    }

    textarea {
        max-height: 200px;
        min-height: 100px;
        resize: vertical;
    }

    select {
        width: fit-content;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 80%;
    }

    label {
        font-weight: bold;
    }

    .inputInfo {
        font-size: 14px;
        font-style: italic;
    }

    .formSubmitBtn {
        padding: 7px;
        width: 120px;
    }
}