.display {
    background-color: #fff;
    // border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: calc(98vh - 81px);
    margin: 1vh 1vw;
    overflow: hidden;

    > div:first-of-type {
        border-right: 4px solid black;
    }
}

.displaySelection {
    display: flex;
    overflow: none scroll;
    height: 100%;
    width: 100%;
}

.selectionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    min-height: 100%;
    padding-top: 10px;
    position: sticky;
    width: 100%;
}

.selectionItem {
    width: 100%;

    > button {
        padding: 5px 0;
        width: 100%;
    }
}

.selectedItem {
    > button {
        background-color: rgb(200, 200, 200);
        font-weight: bold;
    }
}