.display {
    background-color: #fff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-grow: 1;
    margin: 3vw;
    overflow: hidden;

    > div:first-of-type {
        border-right: 4px solid black;
    }
}

.displaySelection {
    display: flex;
    overflow: none scroll;
    height: 100%;
    width: 100%;
}

.selectionList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
    width: 100%;
}

.selectionItem {
    width: 100%;

    > button {
        padding: 5px 0;
        width: 100%;
    }
}

.selectedItem {
    > button {
        background-color: rgb(200, 200, 200);
        font-weight: bold;
    }
}